<div class="grid-container">
  <div class="logo">logo</div>
  <div class="movies">movies</div>
  <div class="movie-search">movie-search</div>
  <div class="friend-list">friend-list</div>
  <div class="friend-search">friend-search</div>
  <div class="profile">pr</div>
</div>