<div class="grid-container">
  <div class="logo">logo</div>
  <div class="movies">
    <div>Most Recent</div>
    <div>Movie</div>
    <div>Movie</div>
    <div>Movie</div>
    <div>Movie</div>
    <div>Oldest</div>
  </div>
  <div class="movie-search">movie-search</div>
  <div class="friend-list">friend-list</div>
  <div class="friend-search">friend-search</div>
  <div class="profile">pr</div>
  <div class="menu">pr</div>
</div>