/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

.flex-horizontal {
  display: flex;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-height: 100vh;
}

.movies {
  grid-area: movies;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  overflow-y: auto;
  max-height: 100%;
  width: 75%;
}

.movie {
  display: grid;
  grid-template-columns: auto 1.5fr;
  grid-template-areas: "movie-poster movie-details thumbs";
  height: 200px;
  width: 80%;
  border: 1px, solid, #6e2c00;
  margin: 1em;
  flex-shrink: 0;
  color: var(--text-primary);
  gap: 1em;
  padding: 1em;
  background-color: #23232e;
}

.movie-poster {
  grid-area: movie-poster;
  height: 200px;
  width: 133px;
  border-style: solid;
}

.movie-details {
  grid-area: movie-details;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  grid-area: title;
}

.year {
  grid-area: year;
}

.liked {
  grid-area: director;
}


#thumb-button {
  font-size: 4em;
  background: none;
  border: none;
  transition: 0.4s ease-in-out;
}

#thumb-button-disabled {
  font-size: 4em;
  background: none;
  border: none;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

#thumb-button:hover {
  transform: scale(1.2);
}

#green:hover > svg > path {
  fill: #3498db;
}

#red:hover > svg > path {
  fill: #3498db;
}



.description {
  grid-area: description;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbs {
  grid-area: thumbs;
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-pic-search {
  width: 75px;
  height: 75px;
}

.profile-pic > i {
  font-size: 1.5em;
  color: black;
}

.profile-search {
  border-style: none none solid;
  margin-top: 15px;
  width: 45%;
  padding-bottom: 2em;
}

#search-title {
  border-bottom: solid;
  padding: 0.5em;
  margin-bottom: 0;
}

.search {
  padding-left: 2.5em;
  width: 60%;
  font-size: 2em;
}

.search > form > input {
  text-align: center;
  border-style: none none solid;
  border-color: var(--text-primary);
  font-size: 1em;
  height: 2em;
  color: var(--text-primary);
  background: none;
}

.search > form > input::nth-of-type(2) {
  background-color: var(--text-primary);
}

.search > form > input#search {
  font-family: "Open Sans";
  color: var(--text-primary);
  border: solid;
  border-color: var(--text-primary);
  border-radius: 10px;
  transition: 0.4s ease-in-out;
  transform: translate(0, 9px);
}

.search > form > input#search:hover {
  color: var(--text-secondary);
  border-color: var(--text-secondary);
  transform: translate(0, 3px);
}

.search > form > input#query {
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Open Sans";
  margin: 0.3em;
}

.search > form > input#query:focus-visible {
  outline: none;
}

.flex-users {
  flex-direction: column;
  align-items: right;
  overflow-y: auto;
}

.flex-users::-webkit-scrollbar {
  width: 0.5rem;
}

.flex-users::-webkit-scrollbar-track {
  background: #1e1e24;
}

.flex-users::-webkit-scrollbar-thumb {
  background: #df9949;
}

.profile-details {
  display: flex;
  align-items: center;
  margin-top: 2em;
  font-size: 2em;
  transition: 0.2s ease-in-out;
}

#profile-details-search {
  justify-content: center;
  margin: 0;
  font-size: 1.5em;
  margin-left: 5em;
  margin-right: 5em;
}

#profile-details-search:hover {
  transform: scale(1.15);
}

.movies::-webkit-scrollbar {
  width: 0.5rem;
}

.movies::-webkit-scrollbar-track {
  background: #1e1e24;
}

.movies::-webkit-scrollbar-thumb {
  background: #df9949;
}

body {
  color: var(--text-primary);
  background-color: white;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1b1b24;
}

main {
  text-align: center;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: hidden;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

a {
  color: #ffd07e;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 2rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 0 0 1.5rem;
}

.fa-primary {
  color: #ffd07e;
}

.fa-secondary {
  color: #df9949;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
  margin-left: 3.7rem;
}

#info {
  gap: 1rem;
  margin: 1rem;
  
}

#info-header {
  font-size: 1.7rem;
  font-weight: bold;
  gap: 1rem;
} 

#header-text {
  padding-bottom: 0px;
  border-bottom: 5px solid #df9949
}

#tmdb {
  gap: 1rem;
  text-align: left;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 1rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
