/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.movies > div {
  height: 200px;
  width: 90%;
  border-style: solid;
  margin: 15px;
  flex-shrink: 0;
}

.logo {
  grid-area: logo;
}

.movies {
  grid-area: movies;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.movie-search {
  grid-area: movie-search;
}

.friend-list {
  grid-area: friend-list;
}

.friend-search {
  grid-area: friend-search;
}

.profile {
  grid-area: profile;
}

.menu {
  grid-area: menu;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.6fr 1fr 5fr 60px;
  grid-template-columns: 1.7fr 8fr 75px;
  grid-template-areas:
    "logo movies profile"
    "logo movies menu"
    "friend-list movies menu"
    "friend-search movie-search menu";
  gap: 2px;
  background-color: #000000;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

body {
  margin: 0px;
}
