<div class="grid-container">
  <div class="logo">logo</div>
  <div class="profile-details">
    <%= image_tag "default_picture.jpg", size: "100x100" %>
    Profile
    <div class="profile-search">Search</div>
  </div>
  <div class="movies">
    <% @thumbs.each do |thumb| %>
      <div>
        <%= thumb.tmdbId %>
      </div>
    <% end %>
  </div>
  <div class="search"><%= show_svg('search.svg') %></div>
  <div class="profile">pr</div>
  <div class="settings"><%= show_svg('gear.svg') %></div>
  <div class="empty"></div>
</div>